

#card{
    margin-top: 10px;
}

.btn{
    margin-left: 0px;
}

#apiP0{
    margin-bottom:3px;
    height: 100px;
}
#apiP1{
    margin-bottom:3px;
    height: 100px;

}
#apiP2{
    margin-bottom:3px;
    height: 100px;

}
#apiP3{
    margin-bottom:3px;
    height: 100px;


}
#apiP4{
    margin-bottom:3px;
    height: 100px;

                                           
}


#apiIMG0{
    width: 165px;
    height: 170px;
    border: 3px solid white;
}
#apiIMG1{
    width: 165px;
    height: 170px;
    border: 3px solid white;
}
#apiIMG2{
    width: 165px;
    height: 170px;
    border: 3px solid white;
}
#apiIMG3{
    width: 165px;
    height: 170px;
    border: 3px solid white;
}
#apiIMG4{
    width: 165px;
    height: 170px;
    border: 3px solid white;
}


#row1{
    background-color: rgb(203, 253, 253);
}
#row2{
    background-color: rgb(253, 210, 249);
}

#para{
    margin-bottom: 0px;
}

#carouselExampleControls{
    /* height: 350px;
    width: 350px; */
    border: 4px solid white;
}

.span{
    margin-left: 1rem;
    background-color: rgb(155, 206, 248);
    padding: 0rem 0.1rem;
    border-radius: 0.2rem;
    
}



















/* .thumbnail{
    height: 200px;
    width: 2000px
} */
  